.header {
  background-color: #1976d2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.headerLogo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}

.headerLogoContainer {
  margin-right: 1rem;
}

.headerLogoImage {
  height: 40px;
  width: auto;
}

.headerTitle {
  color: white;
  font-weight: 600;
}

.headerNav {
  display: flex;
  gap: 1.5rem;
}

.headerNavLink {
  color: white !important;
  text-transform: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.headerNavLink.active {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.userInfo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}